<% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= post.user.email.split(/@/).first %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
      <p class="card-text"><%= simple_format(post.message) %></p>
      <% if current_user.id == post.user_id %>
        <%= link_to "edit", edit_post_path(post), class: "card-link btn btn-primary button-edit"%>
        <%= link_to "delete", post_path(post), method: :delete, class: "card-link btn btn-danger button-delete" %>
      <% end %>
    </div>
  </div>
<% end %>


